
#topContainer{
	background-image: url(pictures/image4.jpg);
	padding-top: 400px;
	text-align: center;
	width: 100%;
	background-size: cover;
}

#header{
	padding-bottom: 380px;
	text-align: center;
	color: white;
}
#signupbutton{
	padding-top: 55px;
}
.logo{

	height: 30px;
	width: 50px;
	float: left;

	
	}




.titlenavbar{
	padding-left: 5px;
	float: right;
	padding-top: 2px;	
	font-size: 1.05em;
	color: #9d9d9d;
	

}
.firstimage{
	width: 100%;

}
